.hg/
.bzr/
.svn/
*.user
*.suo
*.ncb
Debug/
Release/
*~
*.swp
*.orig
*.aps
*.pyc
build/
buildex/
projects/*
.fbgen.cfg
src/libs/log4cplus/include/log4cplus/config/defines.hxx
src/libs/curl/curl
src/libs/openssl/openssl
.DS_Store
*.kdev*
.kdev*
tags
bin
