.label { color: #6666CC; background-color: #FFFFFF; padding: 2px; width: 296px; }
.overlay { position: relative; top: -125px; left: 150px; width: 400px; background-color: #99CCFF; color: #000; padding: 0.4em; z-index: 2000;   /* for IE */ filter:alpha(opacity=80); /* CSS3 standard */ opacity:0.8; }
body { background-image: url("wallpaper.png"); }
