<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="{a5a39ed0-336f-5afe-a720-058129701bee}" Name="${PLUGIN_NAME}" Language="1033" Version="${FBSTRING_PLUGIN_VERSION}" Manufacturer="${FBSTRING_CompanyName}" UpgradeCode="37bf21b3-ed6f-503e-96ae-4b050ea3e840">
        <Package InstallerVersion="200" Compressed="yes" Description="Installer for the ${PLUGIN_NAME} plugin" InstallScope="perUser" />
        <Media Id="1" Cabinet="${PLUGIN_NAME}.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="AppDataFolder">
                <Directory Id="CompanyDir" Name="${COMPANY_NAME}">
                    <Component Id="CompanyDirComp" Guid="{6659c958-722d-5bdd-bf09-dbb929f9a4c7}">
                        <RemoveFolder Id="RemoveCompanyDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="SOFTWARE\${COMPANY_NAME}" Name="Uninstall" Type="string" Value="${FBSTRING_PLUGIN_VERSION}" KeyPath="yes" />
                    </Component>
                    <Directory Id="INSTALLDIR" Name="${PLUGIN_NAME}">
                        <Component Id="InstallDirComp" Guid="{f7317a0f-0009-5f51-a855-291942f70273}">
                            <RemoveFolder Id="RemoveInstallDir" On="uninstall" />
                            <RegistryValue Root="HKCU" Key="SOFTWARE\${COMPANY_NAME}\${PLUGIN_NAME}" Name="Uninstall" Type="string" Value="${FBSTRING_PLUGIN_VERSION}" KeyPath="yes" />
                        </Component>

                        <!-- Put Additional files here: -->
                        <!-- example:
                        <Component Id="UniqueComponentId" Guid="UniqueGUID">
                            <File Id="uniqueFileId" KeyPath="yes" Source="SourceDir\filename.ext" />
                        </Component>
                        /example -->
                        <!--  -->
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="MainPluginFeature" Title="${FBSTRING_ProductName}" Level="1">
            <ComponentRef Id="InstallDirComp"/>
            <ComponentRef Id="CompanyDirComp"/>
            <ComponentGroupRef Id="PluginDLLGroup"/>
        </Feature>
    </Product>
</Wix>
